<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Policy Plus" Manufacturer="Jordan J. White" Version="0.6.2.5" Language="1033" UpgradeCode="f6a8f3dc-8a5b-479e-a812-12d3456789ab">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of Policy Plus is already installed."/>
    <MediaTemplate/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="Policy Plus requires .NET Framework 4.5 or newer. Please install it and run the installer again.">
      NETFRAMEWORK45
    </Condition>

    <Property Id="DESKTOP_SHORTCUT" Value="1"/>
    <Property Id="STARTMENU_SHORTCUT" Value="1"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PolicyPlus">
          <Component Id="MainExecutable" Guid="1d473b70-ec80-47e9-bc84-d3e0aad54e29">
            <File Id="PolicyPlusExe" Source="..\PolicyPlus\bin\Release\PolicyPlus.exe" KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="PolicyPlusProgramMenuDir" Name="Policy Plus"/>
      </Directory>
      <Directory Id="DesktopFolder"/>
    </Directory>

    <Component Id="StartMenuShortcutComponent" Guid="da1da33b-6d92-440b-8c05-ad1f89fc9beb">
      <Shortcut Id="StartMenuShortcut" Directory="PolicyPlusProgramMenuDir" Name="Policy Plus" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]PolicyPlus.exe" Icon="PolicyPlusIcon.ico"/>
      <RemoveFolder Id="RemoveStartMenuDir" On="uninstall" Directory="PolicyPlusProgramMenuDir"/>
      <Condition>STARTMENU_SHORTCUT=1</Condition>
    </Component>

    <Component Id="DesktopShortcutComponent" Guid="4cdffd02-844e-4bb7-aa8a-fd2c9937bc78">
      <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Policy Plus" WorkingDirectory="INSTALLFOLDER" Target="[INSTALLFOLDER]PolicyPlus.exe" Icon="PolicyPlusIcon.ico"/>
      <Condition>DESKTOP_SHORTCUT=1</Condition>
    </Component>

    <Icon Id="PolicyPlusIcon.ico" SourceFile="..\PolicyPlus\PolicyPlusIcon.ico"/>
    <Property Id="ARPCONTACT" Value="Jordan J. White"/>
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/JordanJWhite/PolicyPlus"/>
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>

    <Feature Id="MainFeature" Title="Policy Plus" Level="1">
      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="StartMenuShortcutComponent"/>
      <ComponentRef Id="DesktopShortcutComponent"/>
    </Feature>
  </Product>
</Wix>
